<ads-layout>

  <ads-layout-aside>

    <div class="text-center">

      <h2>
        {{ title }}
      </h2>

      <p class="lead">
        <em>Angular 8.x</em>
      </p>

    </div>

    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a href="/apple" class="nav-link active">
          Apple
        </a>
      </li>
      <li class="nav-item">
        <a href="/orange" class="nav-link">
          Orange
        </a>
      </li>
      <li class="nav-item">
        <a href="/pear" class="nav-link">
          Pear
        </a>
      </li>
    </ul>

  </ads-layout-aside>

  <ads-layout-content>

    <ul class="animals list-unstyled">
      <li *ngFor="let animal of animals">
        {{ animal }}
      </li>
    </ul>

    <button class="btn btn-primary">
      Done
    </button>

    <router-outlet></router-outlet>

  </ads-layout-content>

</ads-layout>
